
@import url("https://fonts.googleapis.com/css?family=Do+Hyeon");

@font-face {
  font-family: 'cwTeXHei';
  font-style: normal;
  font-weight: 500;
  src: url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.eot);
  src: url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.eot?#iefix) format('embedded-opentype'), url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.woff2) format('woff2'), url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.woff) format('woff'), url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.ttf) format('truetype');
}

// 
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: 'Do Hyeon', 'cwTeXHei', 'Microsoft JhengHei', 'Helvetica', 'Arial', 'sans-serif'; // font-family: 'Microsoft JhengHei', 'Helvetica', 'Arial', 'sans-serif';
}

html,
body {
  color:black;
  font-size: 1rem;
  color: white;
  background-color: black;
}

body {
  // width: 100%;
  // overflow-x: hidden;
}

