@import 'utilities';
// 
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: 'Microsoft JhengHei', 'Helvetica', 'Arial', 'sans-serif';
}

html,
body {
  color: $root-black;
  font-size: 1rem;
  @media (max-width: $md) {
    font-size: 0.8rem;
  }
}

.container {
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  >.content {
    display: block;
    margin: 0 auto;
    padding: 0;
    max-width: $lg;
  }
}

.d {
  @media (max-width: $md) {
    display: none !important;
  }
}

.m {
  @media (min-width: $md) {
    display: none !important;
  }
}
