@import 'utilities';
@import url("https://fonts.googleapis.com/css?family=Do+Hyeon");
@font-face {
  font-family: 'cwTeXHei';
  font-style: normal;
  font-weight: 500;
  src: url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.eot);
  src: url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.eot?#iefix) format('embedded-opentype'), url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.woff2) format('woff2'), url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.woff) format('woff'), url(//fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.ttf) format('truetype');
}

// 
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: 'Do Hyeon', 'cwTeXHei', 'Microsoft JhengHei', 'Helvetica', 'Arial', 'sans-serif'; // font-family: 'Microsoft JhengHei', 'Helvetica', 'Arial', 'sans-serif';
}

html,
body {
  color: $root-black;
  font-size: 1rem;
  color: white;
  background-color: black;
  @media (max-width: $md) {
    font-size: 0.8rem;
  }
}

body {
  // width: 100%;
  // overflow-x: hidden;
}

.container {
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  >.content {
    display: block;
    margin: 0 auto;
    padding: 12px;
    max-width: $lg;
  }
}

.d {
  @media (max-width: $md) {
    display: none !important;
  }
}

.m {
  @media (min-width: $md) {
    display: none !important;
  }
}

img {
  height: auto;
}