
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

* {
    box-sizing: border-box !important;
}

html,
body {
    font-size: 16px;
    background-color: #263238;
    font-family: 'Noto Sans TC' !important;
    line-height: 1.5;
}

a {
    color: initial;
}